@inherits LayoutComponentBase

<main role="main" class="container-fluid">
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Blazor-Server-Side-Learning-App</a>
            <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarsExample02" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarsExample02">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="about">
                            About
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search">
                </form>
            </div>
        </nav>
    </header>
    <br/><p></p><br/>
    <div class="container">
        @Body
    </div>
    <br/><p></p><br/>
    <footer class="text-center">
        <p>&copy;&nbsp;
            <a href="https://Vvgonline.net" target="_blank">
                Vvgonline.net
            </a>
        </p>
    </footer>
</main>