################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
.vscode
/AspMySql/MVCMySql/.vs/MVCMySql/v16/Server/sqlite3
tech-boilerplates/frontend/TypeScript/node_modules
/To-Do-Apps/inAspNetCore/To-Do-Api-Demo/.vs/To-Do-Api-Demo
/Windows-Terminal-Settings/.vs
DotNetDemos/AspXmlCRUD/.vs
DotNetDemos/AspXmlCRUD/UsingAspNet/obj
