################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspMySql/MVCMySql/.vs/MVCMySql/v16/Server/sqlite3
tech-boilerplates/frontend/TypeScript/node_modules
