body svg #identitySkills {
  z-index: auto;
}
body svg #identitySkills #logo #blueV {
  animation-delay: 0s;
  animation-name: translateUpFadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #logo #yellowV {
  animation-delay: 0.2s;
  animation-name: translateUpFadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #logo #barGroup {
  animation-delay: 0.4s;
  animation-name: translateDownFadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #fullName {
  z-index: 0;
}
body svg #identitySkills #fullName #Vaibhav {
  animation-delay: 0.6s;
  animation-name: FadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #fullName #Vijay {
  animation-delay: 0.8s;
  animation-name: FadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #fullName #Gupta {
  animation-delay: 1s;
  animation-name: FadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #online {
  animation-delay: 1.2s;
  animation-name: translateUpFadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #design {
  z-index: auto;
}
body svg #identitySkills #design #designText {
  animation-delay: 1.6s;
  animation-name: FadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #design #designIcon {
  animation-delay: 1.6s;
  animation-name: translateDownFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #code {
  z-index: auto;
}
body svg #identitySkills #code #codeText {
  animation-delay: 2s;
  animation-name: FadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #code #codeIcon {
  animation-delay: 2s;
  animation-name: translateDownFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #market {
  z-index: auto;
}
body svg #identitySkills #market #marketText {
  animation-delay: 2.4s;
  animation-name: FadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #market #marketIcon {
  animation-delay: 2.4s;
  animation-name: translateDownFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #training {
  z-index: auto;
}
body svg #identitySkills #training #trainingText {
  animation-delay: 2.8s;
  animation-name: FadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
body svg #identitySkills #training #trainingIcon {
  animation-delay: 2.8s;
  animation-name: translateDownFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}

/* #region animation */
@keyframes translateUpFadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 10%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes translateDownFadeIn {
  0% {
    opacity: 0;
    transform: translate(0, -10%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* #endregion animation *//*# sourceMappingURL=site.css.map */