@page "/about"

<div>
    <p class="alert alert-info">
        About this App
    </p>
    <p>
        I (<a href="mailto:vvgonline.net@gmail.com">Vaibhav V. Gupta</a>) 
        have made this app to test and learn C# code written on Blazor Server
        app model.
    </p>
</div>