@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    how to create this webapp: Run <code>dotnet new webapp</code> from the DOTNET CLI
    <p>Learn about <a href="https://learn.microsoft.com/en-us/aspnet/core/razor-pages">building Web apps with ASP.NET
            Core</a>.</p>
</div>
