@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://vvgonline.github.io/vvgonlineWEB/about" target="_blank" class="ml-md-auto">About</a>
        </div>

        <main role="main" class="content px-4">
            @Body
        </main>
    </div>
</div>
<footer>
    <SocialShare></SocialShare>
</footer>
