@* all social links for vvgonline into 1 compnonent *@
<div class="row p-2">
    <div class="col">
        <a href="https://github.com/vvgonline" target="_blank" class="btn">github</a>
    </div>
    <div class="col">
        <a href="https://twitter.com/vvgonlinedotnet" target="_blank" class="btn">twitter</a>
    </div>
    <div class="col">
        <a href="https://www.facebook.com/VVGonline/" target="_blank" class="btn">facebook</a>
    </div>
    <div class="col">
        <a href="https://www.youtube.com/channel/UCsFTSQ6exutOIpP-wHl8qQQ" target="_blank" class="btn">YouTube</a>
    </div>
</div>