@* all social links for vvgonline into 1 compnonent *@
<div class="row">
    <div class="col">
        <a href="https://github.com/vvgonline" target="_blank">github</a>
    </div>
    <div class="col">
        <a href="https://twitter.com/vvgonlinedotnet" target="_blank">twitter</a>
    </div>
    <div class="col">
        <a href="https://www.facebook.com/VVGonline/" target="_blank">facebook</a>
    </div>
    <div class="col">
        <a href="https://www.youtube.com/channel/UCsFTSQ6exutOIpP-wHl8qQQ" target="_blank">YouTube</a>
    </div>
</div>