@implements IDisposable
<span>
    Digital Clock blazor component <br />
    @DateTime.Now.ToString("HH:mm:ss tt")
</span>

@code {
    //display digital clock START
    private System.Threading.Timer Timer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Timer = new System.Threading.Timer(_ =>
        {
            InvokeAsync(StateHasChanged);
        }, null, 1000, 1000);   //counter every 1000ms/1s
    }

    void IDisposable.Dispose()
    {
        Timer?.Dispose();
        Timer = null;
    }
    //display digital clock END
}
